@model Vidly.ViewModels.CostumerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Costumer</h2>

@using (Html.BeginForm("Save", "Costumers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Costumer.Name)
        @Html.TextBoxFor(m => m.Costumer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Costumer.Birthday)
        @Html.TextBoxFor(m => m.Costumer.Birthday, "{0:dd/MM/yyyy}" , new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Costumer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Costumer.MembershipTypeId,new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Costumer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>

    @Html.HiddenFor(m => m.Costumer.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}